
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlimentacionLabel" data-translate="pcApp.alimentacion.home.createOrEditLabel">Create or edit a Alimentacion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.alimentacion.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.alimentacion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcApp.alimentacion.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.alimentacion.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcApp.alimentacion.potencia" for="field_potencia">Potencia</label>
            <input type="text" class="form-control" name="potencia" id="field_potencia"
                    ng-model="vm.alimentacion.potencia"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcApp.alimentacion.flujoAire" for="field_flujoAire">Flujo Aire</label>
            <input type="text" class="form-control" name="flujoAire" id="field_flujoAire"
                    ng-model="vm.alimentacion.flujoAire"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcApp.alimentacion.conectores" for="field_conectores">Conectores</label>
            <input type="text" class="form-control" name="conectores" id="field_conectores"
                    ng-model="vm.alimentacion.conectores"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pcApp.alimentacion.precio" for="field_precio">Precio</label>
            <input type="number" class="form-control" name="precio" id="field_precio"
                    ng-model="vm.alimentacion.precio"
                    />
        </div>

        <div class="form-group">
            <label data-translate="pcApp.alimentacion.fabricante" for="field_fabricante">Fabricante</label>
            <select class="form-control" id="field_fabricante" name="fabricante" ng-model="vm.alimentacion.fabricante" ng-options="fabricante as fabricante.nombre for fabricante in vm.fabricantes track by fabricante.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
